html, body{
    height: 100%;
    width: 100%;
    background-image: url(./data/images/background.jpg);
    background-size:cover;
  }
  
  body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
  }

