html, body{
    height: 100%;
    width: 100%;
    background-image: url('./assets/images/background.jpg');
    background-size:cover;
    overflow-y:hidden;
  }
  
  body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
  }

